.tailwind {
    background-color: #464686;
}

.react {
    background-color: #0784ae;
}

.css {
    background-color: #446;
}

.framer-motion {
    background-color: #242424;
}

.three-js {
    background-color: #ff0;
}
